 @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');

.petDetails-container h2{
  font-family: 'Playwrite IT Moderna', sans-serif;
 font-weight: bold;
 font-size: 30px;
 text-align: center;
 justify-content: center;
margin-top: 10px;
margin-bottom: 20px;
}

.pet-details-photo {
  width: 100%;
  /* max-width: 300px; */
  height: 300px;
  border-radius: 8px;
  /* margin-bottom: 5px; */
  transition: transform 0.3s ease; /* Smooth transition on hover */
  margin-right: 60px;
  border-radius: 8px; /* Rounded corners for image */
  /* Maintain aspect ratio and cover container: cuts the picture to size rather than squishing it*/
  object-fit: cover; 
  margin-top: 10px; /* Top margin for spacing */
}

.pet-details-photo:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

.info petDetails-info{
  font-size: 18px;
  /* margin-bottom: 5px; */
  text-align: start;
  
}

.petPost-header {
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 5px; */
  text-align: center;
}

.button-group{
  width:400px;}

.button-group > button {
  /* margin-right: 10px; */
  /* padding: 10px; */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  /* width:50px; */
  /* height:auto; */
}

.button-group > button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1); /* Scale up slightly on hover */
}


.petDetails-info{
  margin-bottom: 10px;

} 

.pet-details-card {
  width: 900px; /* Adjust card width based on desired layout */
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  background-color: rgba(255, 248, 240, 0.95);
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Soft shadow */
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  padding-right: 60px;
  padding-left: 30px;
  
}


.petDetails-container h2{
  font-family: 'Playwrite IT Moderna', sans-serif;
 font-weight: bold;
 font-size: 30px;
 text-align: center;
 justify-content: center;
margin-top: 10px;
margin: 0 auto;
}

.pet-details-photo {
  width: 100%;
  /* max-width: 300px; */
  height: 300px;
  border-radius: 8px;
  /* margin-bottom: 5px; */
  transition: transform 0.3s ease; /* Smooth transition on hover */
  margin-right: 60px;
  border-radius: 8px; /* Rounded corners for image */
  /* Maintain aspect ratio and cover container: cuts the picture to size rather than squishing it*/
  object-fit: cover; 
  margin-top: 30px; /* Top margin for spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Soft shadow */
  
  
}

.pet-details-photo:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

.info {
  font-size: 18px;
  /* margin-bottom: 5px; */
  text-align: start;
  margin-top: 50px;
  margin-left: 40px;
}

.petPost-header {
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 5px; */
  text-align: center;
}

.button-group{
  width:400px;
 
  }

.button-group > button {
  /* margin-right: 10px; */
  /* padding: 10px; */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  /* width:50px; */
  /* height:auto; */
}

.button-group > button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1); /* Scale up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow on hover */
}


.petDetails-info{
  margin-top:0px;
  margin-bottom: 15px;
  font-family:'AR One Sans', sans-serif;
} 


.pet-details-card h2{
  margin-top: 25px;
  margin-bottom: 5px;
}