@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
/* Notes: */
/* className="justify-content-end flex-grow-1 pe-3 navbar-offcanvas" only take last part as name to reference */
/* where theres space use . like: nav-link-custom active to nav-link-custom.active*/
/* # for id  *//* Navbar background color/ styling */
.navbar-custom {
  background-color: rgba(255, 243, 212, 0.95); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-bottom: 6px solid #8e7359;
}

#offcanvasNavbar-expand{
  background-color: rgba(255, 245, 220, 0.96); }

/* Offcanvas menu link styling */
.nav-link-custom {
  font-family: 'Playwrite IT Moderna', sans-serif;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Hover effect for offcanvas menu links */
.nav-link-custom:hover {
  color: #ff69b4 !important;; /* Pink text color on hover */
}

/* Active link styling for offcanvas menu */
.nav-link-custom.active {
  color: #ff1493; /* Light pink text color for active link */
  font-weight: bold; /* Bold font for active link */
}
