/* General styling for the register container */
.container-register {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    margin-top: 100px; /* Adjusted margin from the top */
    
  }
  
  
  /* Styling for the "Not a member yet?" link */
  .container-register > section > a {
    text-decoration: underline; /* Underlines the link text */
    color: var(--secondary); /* Uses a custom CSS variable for text color */
    display: block; /* Makes the link a block element to take up full width */
    margin-top: 20px; /* Adds spacing above the link */
  }
  
  /* Styling for the register form */
  .form-register {
    width: 60%; /* Width of the form container */
    margin: 0 auto; /* Centers the form horizontally */
    align-items: center; /* Centers items horizontally within the form */
    justify-content: center; /* Centers content vertically within the form */
    text-align: center; /* Center aligns text content within the form */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 50px; 
    margin-bottom: 50px;
  }
  
  /* Styling for the logo image within the form */
  .form-register img {
    margin-top:10px;
    width: 500px; /* Width of the logo image */
    height: 100px; /* Height of the logo image */
  }
  
  /* Styling for headings within the form */
  .form-register h2 {
    font-size: 1.5rem; /* Font size for secondary headings */
    margin-top: 20px; /* Adds spacing above the heading */
  }
  
  /* Margin adjustment for the section containing the link */
  .container-register > section {
    margin-top: 20px; /* Adds spacing above the section */
  }
  
  /* Additional styling for the register form */
  form {
    font-family: 'Playwrite IT Moderna', sans-serif; /* Font family for form text */
    max-width: 40%; /* Maximum width of the form */
    margin: 0 auto; /* Centers the form horizontally */
    padding: 20px; /* Padding inside the form */
    background-color: rgb(255, 248, 240, 0.95); /* Background color of the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for form */
    border-radius: 8px; /* Border radius for form edges */
    text-align: left; /* Left aligns text content within the form */
  }
  
  /* Styling for fieldsets within the form */
  fieldset {
    min-width: 0; /* Ensures fieldsets can shrink */
    padding-bottom: 1.5rem; /* Padding below fieldsets */
    margin: 0; /* Resets margins for fieldsets */
    border: 0; /* Removes borders from fieldsets */
  }
  
  /* Styling for form input controls */
  .form-control {
    height: calc(1.5em + 0.75rem + 2px); /* Calculates height of form controls */
    padding: 0.375rem 0.75rem; /* Padding inside form controls */
    font-size: 1rem; /* Font size of form controls */
    border: 1px solid var(--outline); /* Border style of form controls */
    border-radius: 0.25rem; /* Border radius of form controls */
  }
  
  /* Styling for form groups */
  .form-group {
    margin-right: 1rem; /* Right margin for form groups */
    display: flex; /* Enables flexbox layout for form groups */
    flex-direction: column; /* Stacks form group elements vertically */
  }
  
  /* Additional styling for form buttons */
  .form-btn {
    align-self: flex-end; /* Aligns form buttons to the end of their container */
  }
  
  /* Focus styling for form buttons */
  .form-btn:focus {
    box-shadow: none; /* Removes box shadow on button focus */
    outline: 2px solid transparent; /* Adds transparent outline on button focus */
    outline-offset: 2px; /* Offset for outline from button edge */
  }
  